/*-=-=-=-=-=-=-=-Footer-=-=-=-=-=-=-*/
footer.footer {
    background-image: url('../images/footer_bitmap.jpg');
    height: 500px;
	background-size: 100% 100%;
	position: relative;
	z-index: 999;
}
.footer .inner__footer::before {
    content: "";
    height: 289px;
    width: 100%;
	position: absolute;
	background-image: linear-gradient(to top, #1c2026, rgba(28, 32, 38, 0));
	bottom: 0px;
    z-index: -1;
    left: 0;
}
.footer .inner__footer::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: auto;
    background-color: #1c2026;
    bottom: 0;
    z-index: -9;
    opacity: .5;
    left: 0;
}
.footer__outer {
    width: 300px;
	background-image: linear-gradient(to left, var(--red-pink), var(--lipstick));
	position: absolute;
	right: 15px;
	top: -168px;
	border-bottom: 2px solid #fff;
	padding: 35px 13px 50px 37px;
	height: 299px;
    z-index: 9;
    text-align: left;
}
.footer .container {
    position: relative;
}
.footer__outer h3 {
    font-size: 20px;
	font-weight: bold;
	font-family: 'AvenirNext-Heavy';
	line-height: 41px;
	margin-top: 10px;
}
.footer__outer a.inquiry__btn {
    height: 34px;
    background-color: #fff;
    color: var(--lipstick);
    width: 103px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
	border-radius: 20.5px;
	font-size: 12px;
	font-weight: bold;
	font-family: 'AvenirNext-Medium';
	margin-right: 20px;
	border: 2px solid #fff;
}
.footer__outer a.inquiry__btn:hover{
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
}
.footer__outer p {
    margin-bottom: 17px;
}
.footer__top h2 {
    font-size: 35px;
	line-height: 41px;
	font-family: 'AvenirNext-Heavy';
}
a.our__services {
    height: 34px;
    width: 150px;
    display: inline-block;
    background-color: #fff;
    line-height: 32px;
    text-align: center;
	border-radius: 20.5px;
	letter-spacing: 0.9px;
	color: var(--slate-grey);
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin-top: 12px;
	border: 2px solid #fff;
}
a.our__services:hover {
    background-color: transparent;
    border: 2px solid #fff;
}
.footer .footer__bottom {
	display: flex;
	margin-top: 50px;
}
.footer__title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
	letter-spacing: 0.9px;
	margin-bottom: 10px;
}
.footer__contact {
    width: 25.28%;
}
.address, .info {
    width: 16.7%;
}
.opening__hours {
    width: 31.6%;
}
.social__media {
	width: 9.72%;
	text-align: right;
}	
.footer__top {
	padding-bottom: 77px;
	border-bottom: 1px solid #e4e9ee;
}
.footer__contact img {
    max-width: 162px;
}
.footer__contact p {
	margin-bottom: 0;
	color: var(--cloudy-blue);
	font-size: 14px;
	margin: 15px 0;
}
.footer__bottom ul {
    list-style: none;
    padding-left: 0;
}
.footer__bottom li {
	font-size: 14px;
	line-height: 27px;
	color: var(--cloudy-blue);
	font-family: 'AvenirNext-Medium';
}
.footer__bottom li a{
    color: var(--cloudy-blue);
}
.footer .fa-twitter:before {
    content: "\f099";
    font-family: "FontAwesome";
    background-image: linear-gradient(to left, #e93366, var(--lipstick));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial
}
.footer .fa-facebook:before {
    content: "\f09a";
    font-family: "FontAwesome";
    background-image: linear-gradient(to left, #e93366, var(--lipstick));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial
}
.footer__bottom .social__media li {
    font-size: 34px;
    line-height: 27px;
    color: var(--cloudy-blue);
    font-family: 'AvenirNext-Medium';
    display: inline-block;
}
.footer__bottom .social__media li a {
    margin-left: 20px;
}
.opening__hours span {
	color: #fff;
	margin-left: 5px;
}
.footer__contact .contact__details a {
	display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.footer__contact .contact__details a i {
    font-size: 16px;
    margin-right: 8px;
}
footer.footer::after {
    background-color: #000;
    content: "";
    position: absolute;
    z-index: -9;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.4;
    left: 0;
}
/*-=-=-=-=-=-=-=-Footer-=-=-=-=-=-=-*/
/*-=-=-=-=-=-=-=-Service-multiple-=-=-=-=-=-=-*/
.service__multiple .main-box {
    bottom: auto;
    top: -260px;
}
.btn_common {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: -18px;
    max-width: 164px;
    left: 0;
    right: 0;
    background-image: linear-gradient(to left, #e93366, var(--lipstick));;
    color: #fff;
    height: 34px;
    display: inline-block;
    padding: 8px 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.092px;
    border-radius: 20px;
    border: 2px solid transparent;
    font-family: 'AvenirNext-Bold';
}
.service__multiple .main-box {
    padding-bottom: 20px;
}
.btn_common:hover {
    background-image: none;
    background-color: #fff;
    border: 2px solid #e93366;
}
.our_services_main .our_services_inner .sub_title {
    margin-bottom: 70px;
    margin-top: 25px;
}
/*-=-=-=-=-=-=-=-Service-multiple-=-=-=-=-=-=-*/
/*-=-=-=-=-=-=-=-Case-study-multiple-=-=-=-=-=-=-*/
.case_study_multiple .case_studies_img:after {
    bottom: 0;
    background-image: linear-gradient(to top, var(--charcoal-grey), rgba(88, 94, 103, 0));
    height: 195px;
    box-shadow: none;
} 
.case_study_multiple .case_studies_block:hover .case_studies_img:after {
    height: 100%;
}  
.main_section.boiler_multiple_top {
    padding-bottom: 0;
}
.service__multiple.boiler__multiple .main-box {
    top: -260px;
    max-width: 534px;
    width: 100%;
    padding-top: 40px;
    right: 15px;
}
.type ul {
    padding-left: 0;
    list-style: none;
}
.type ul span {
    margin-left: 20px;
}
.boiler__multiple .min_title {
    margin-bottom: 25px;
}
.type ul li {
    font-size: 16px;
    line-height: 35px;
    color: var(--slate-grey);
}
.boiler__multiple .type {
    padding: 0;
}

.boiler__multiple .main-box p {
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
}
.boiler__multiple .service_block_main_inner {
    display: flex;
}
.image_block_left {
    max-width: 189px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to left, #e93366, var(--lipstick));
    padding: 28px 30px;
}
.boiler__multiple .service_block.left {
    padding-left: 0;
    padding-right: 50px;
}
.boiler__multiple .service_block.right {
    padding-right: 0;
    padding-left: 50px;
}
.boiler__multiple .service_block ul {
    padding-left: 0;
    list-style: none;
}
.boiler__multiple .block_details_right {
    background-color: var(--white);
    padding: 30px;
}
.service_block ul i {
    color: #de9e18;
    margin-right: 15px;
}
.boiler__multiple .service_block ul li{
    line-height: 27px;
}
.block_details_right p {
    margin-bottom: 15px;
}
.boiler__multiple .service_block_main_inner:hover {
    color: var(--white);
    background-image: linear-gradient(to left, #e93366, var(--lipstick));
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.25);
}
.boiler__multiple .service_block_main_inner:hover .block_details_right {
    background-color: transparent;
}
.boiler__multiple .service_block_main_inner:hover .image_block_left {
    background-image: none;
}
.boiler__multiple .service_block_main_inner:hover .btn_red_border, .boiler__multiple .service_block .service_block_main_inner:hover ul i{
    color: var(--white);
}
.block_details_right .sub_title_small {
    color: var(--charcoal-grey);
}
.boiler__multiple .service_block_main_inner:hover .block_details_right .sub_title_small {
    color: var(--white);
}
.boiler__multiple .service_block {
    margin-bottom: 60px;
}
/*-=-=-=-=-=-=-=-Case-study-multiple-=-=-=-=-=-=-*/
/*-=-=-=-=-=-=-=-Boiler-single-=-=-=-=-=-=-*/
.left_content .btn_common{
    position: static;
}
ul {
    padding: 0;
    list-style: none;
}
.boiler_single_top .left_content ul i{
    color: var(--lipstick);
    font-size: 16px;
    margin-right: 20px;
}
.boiler_single_top .left_content ul li{
    line-height: 35px;
    font-size: 16px;
}
.video_boiler {
    margin-top: 180px;
    max-width: 534px;
    width: 100%;
    float: right;
}
.video_boiler iframe {
    width: 100% !important;
}
.boiler__single .main_bannar:after{
    display: none;
}
.boiler__single .single_boiler_top {
    display: flex;
    padding: 0px;
    align-items: center;
}
.main_title_top .main_bannar_content {
    position: static;
    min-height: auto;   
    padding: 0;
}
.boiler__single .main_image_top {
    margin-top: 100px;
}
.boiler__single  .main_title_top {
    margin-bottom: 100px;
    padding: 0;
}
/*-=-=-=-=-=-=-=-Boiler-single-=-=-=-=-=-=-*/

/*-=-=-=-=-=-=-=--=-=-=-=-=-=-=- Responsive media css -=-=-=-=-=-=-=--=-=-=-=-=-=-*/

@media only screen and (min-width:768px) and (max-width:1024px) {

}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
    .footer__bottom .social__media li a {
        margin-left: 0;
        font-size: 30px;
    }
    .opening__hours {
        width: 22.6%;
    }
    .address, .info {
        width: 19%;
    }
    .footer__contact {
        width: 28.28%;
    }
    .footer__top h2 {
        font-size: 23px;
        line-height: normal;
    }
    .footer__top {
        padding-bottom: 50px;
    }
    .footer__outer {
        width: 270px;
        right: 15px;
        top: -145px;
        padding: 15px;
        height: auto;
    }
    footer.footer {
        height: auto;
    }
    .boiler__multiple .service_block.left {
        padding-right: 0;
    }
    .boiler__multiple .service_block.right {
        padding-left: 0;
    }
    .main-box {
        position: static;
        margin-bottom: 50px;
        max-width: none;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    .footer__top h2 {
        font-size: 28px;
    }
    .footer__bottom .social__media li a {
        margin-left: 10px;
    }
    .footer__top {
        padding-bottom: 55px;
    }
    footer.footer {
        height: auto;
    }
}

@media (max-width:767px) {
    footer.footer {
        background-size: cover;
        background-position: top center;
        height: auto;
    }
    .footer__contact, .address, .info, .opening__hours {
        width: 100%;
    }
    .social__media {
        width: 100%;
        text-align: center;
    }
    .footer .footer__bottom {
        display: block;
        margin-top: 20px;
    }
    .footer__top {
        padding-bottom: 30px;
        padding-top: 160px;
    }
    .footer__outer {
        top: -85px;
        border-bottom: 2px solid #fff;
        padding: 20px;
        height: auto;
        z-index: 9;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .footer__contact p {
        margin: 10px 0;
    }
    .footer__title {
        margin-top: 20px;
    }
    .footer__top h2 {
        font-size: 24px;
        line-height: normal;
    }
    .boiler__multiple .service_block.left {
        padding-right: 0;
    }
    .boiler__multiple .service_block.right {
        padding-left: 0;
    }
    .service__multiple.boiler__multiple .main-box {
        position: static;
        float: left;
    }
    .main-box {
        position: static;
        margin-bottom: 50px;
        width: 100%;
        max-width: none;
    }
    .our_services_main .our_services_inner .sub_title {
        margin-bottom: 20px;
        margin-top: 0;
    }
    .case_studies_block_main {
        margin-top: 20px;
    }
    .our_services_inner {
        padding-bottom: 20px;
    }
    .testimonial {
        padding-left: 15px;
        padding-right: 15px;
    }
    .article_multiple .masthead {
        padding-bottom: 0;
    }
}

@media only screen and (min-width:320px) and (max-width:767px) and (orientation:portrait) {

}

@media only screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    .footer__top {
        padding-top: 200px;
    }
    .article_multiple .article {
        width: 50%;
        float: left;
    }
}

/*-=-=-=-=-=-=-=--=-=-=-=-=-=-=- Responsive media css -=-=-=-=-=-=-=--=-=-=-=-=-=-*/