@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe03MImSLYBIv1o4X1M8cc9iB85tU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe03MImSLYBIv1o4X1M8cc8GBs5tU1Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Nunito Sans Black'), local('NunitoSans-Black'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe03MImSLYBIv1o4X1M8cc8-BM5tU1Q.ttf) format('truetype');
}
/*---------------*\
  IE MOBILE
\*---------------*/
/*---------------*\
  BASE
\*---------------*/
html {
  font-size: 14px;
  overflow-x: hidden;
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
.show-menu {
  overflow: hidden;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  color: #4e5766;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  overflow-x: hidden;
}
body *,
body *:focus {
  outline: none;
}
::selection {
  color: #fff;
  background-color: #132136;
}
::-moz-selection {
  color: #fff;
  background-color: #132136;
}
h1,
.h1 {
  font-size: 3rem;
  color: #fff;
  line-height: normal;
  font-weight: 900;
}
h2,
.h2 {
  position: relative;
  font-size: 1.6875rem;
  line-height: normal;
  font-weight: 600;
  color: #132136;
}
h3,
.h3 {
  font-size: 1.5625rem;
  line-height: normal;
  font-weight: 600;
  color: #132136;
}
h5,
.h5 {
  font-size: 0.75rem;
  font-weight: 900;
  text-transform: uppercase;
}
.title {
  font-size: 2.0625rem;
  line-height: normal;
  color: #132136;
  font-weight: 600;
  margin-bottom: 17px;
}
@media (max-width: 767px) {
  .title {
    font-size: 1.5rem;
  }
}
.sub_title {
  font-size: 1.5625rem;
  line-height: normal;
  color: #132136;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .sub_title {
    font-size: 1.125rem;
  }
}
p {
  color: #4e5766;
  font-weight: 600;
  line-height: 1.67;
  margin-bottom: 1.94em;
}
p:last-child {
  margin: 0;
}
a {
  color: #4a87ed;
}
a:hover,
a:focus,
a:active,
a:active:focus {
  color: #060a10;
  text-decoration: none;
  cursor: pointer;
}
a .s-p {
  color: #060a10;
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
}
ul {
  padding-left: 0;
  list-style: none;
}
.wow {
  visibility: hidden;
}
@media (max-width: 767px) {
  .form-inline {
    display: flex;
    align-items: flex-end;
  }
}
.form-inline .btn {
  height: 58px;
  width: 58px;
  border-radius: 0px;
  padding: 15px;
}
@media (max-width: 991px) {
  .form-inline .btn {
    height: 40px;
    width: 40px;
    padding: 5px;
  }
}
.form-inline .form-group {
  vertical-align: bottom;
}
@media (max-width: 767px) {
  .form-inline .form-group {
    margin: 0 1px 0 0px;
  }
}
.form-group label {
  display: block;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 900;
  text-transform: uppercase;
  padding-left: 9px;
  letter-spacing: 0.9px;
}
.form-group .form-control {
  width: 269px;
  height: 58px;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: bottom;
  padding-left: 19px;
  padding-right: 19px;
  font-size: 1.125rem;
  color: #4e5766;
  max-width: 100%;
}
@media (max-width: 991px) {
  .form-group .form-control {
    height: 40px;
    width: 180px;
  }
}
@media (max-width: 767px) {
  .form-group .form-control {
    height: 40px;
    width: 145px;
    font-size: 12px;
    padding: 0 5px;
  }
}
.form-group select {
  background-image: url("../images/jpg/arrow-down.png");
  background-repeat: no-repeat;
  background-position: center right 19px;
}
.gmnoprint a,
.gmnoprint span {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
@-webkit-keyframes fadeInLeftSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeftSmall {
  -webkit-animation-name: fadeInLeftSmall;
  animation-name: fadeInLeftSmall;
}
@-webkit-keyframes fadeInRightSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRightSmall {
  -webkit-animation-name: fadeInRightSmall;
  animation-name: fadeInRightSmall;
}
/*--------------*\
  VARIABLES ETC
\*--------------*/
.base-col {
  color: #fff;
}
.primary-col {
  color: #132136;
}
.duskblue-col {
  color: #2654a2;
}
.dodgerblue-col {
  color: #4a87ed;
}
.gunmetal-col {
  color: #4e5766;
}
.blueygrey-col {
  color: #8c95a3;
}
.darkbluegrey-col {
  color: #132136;
}
.orange-col {
  color: #f5a623;
}
.base-bg {
  background-color: #fff;
}
.primary-bg {
  background-color: #132136;
}
.duskblue-bg {
  background-color: #2654a2;
}
.dodgerblue-bg {
  background-color: #4a87ed;
}
.gunmetal-bg {
  background-color: #4e5766;
}
.blueygrey-bg {
  background-color: #8c95a3;
}
.darkbluegrey-bg {
  background-color: #132136;
}
.base-font {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
}
.upper {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.strong,
.bold {
  font-weight: 900;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
@media (min-width: 992px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  .desktop {
    display: none;
  }
}
.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.btn {
  line-height: normal;
  font-size: 1.125rem;
  border: none;
  border-radius: 20.5px;
  padding: 7px 24px;
  background-color: #4a87ed;
}
.btn:focus,
.btn:active {
  outline: none;
  border: none;
}
.btn-primary {
  color: #fff;
  transition: 0.3s linear;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  box-shadow: inset 0 0 0 3px #2654a2;
  background-color: #2654a2;
  border-color: #204d74;
}
.btn-primary .s-p {
  box-shadow: inset 0 0 0 3px #2654a2;
  background-color: #2654a2;
  border-color: #204d74;
}
.btn-white {
  color: #2654a2;
  background-color: #fff;
}
.header {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
}
.header__bottom {
  padding-top: 19px;
  padding-bottom: 22px;
  width: 100%;
  top: 0px;
  z-index: 999;
  background-color: #132136;
  margin-top: 62px;
}
@media (max-width: 1199px) {
  .header__bottom {
    padding-top: 7px;
    padding-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .header__bottom {
    margin-top: 0px;
  }
  .header__bottom ul.nav.navbar-nav.navbar-left {
    display: none;
  }
}
.header__bottom .navbar-left span {
  color: #8c95a3;
}
.header__bottom .navbar-left a {
  color: #8c95a3;
}
.header__bottom .navbar-left .active a {
  color: #fff;
}
.header__bottom .navbar-left .active a:after {
  border-bottom: 3px solid #4a87ed;
  content: "";
  width: 100%;
  height: 3px;
  background: red;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header__bottom .navbar-right {
  margin-right: 0px;
}
.header__bottom .navbar-right li {
  padding: 0 16px;
}
@media (max-width: 767px) {
  .header__bottom .navbar-right li {
    padding: 0px;
  }
}
.header__bottom .navbar-right li:last-child {
  padding-right: 0px;
}
.header__bottom .navbar-right a {
  color: #ffffff;
}
.header__bottom .navbar-right a svg {
  margin-right: 15px;
  color: #8c95a3;
}
@media (max-width: 1024px) {
  .header__bottom ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    float: none !important;
    margin: 5px 0;
  }
}
@media (max-width: 767px) {
  .header__bottom ul {
    flex-direction: column;
  }
}
.link-active {
  background-color: transparent;
}
@media (min-width: 768px) {
  .link-active:before {
    opacity: 1;
    height: 3px;
  }
}
.link-after {
  z-index: 9;
}
@media (min-width: 768px) {
  .link-after:before {
    content: " ";
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform-origin: 0 100%;
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .link-active-after:before {
    opacity: 1;
    height: 3px;
  }
}
.navbar {
  margin-bottom: 0;
  height: auto;
  border: none;
  padding: 12px 0;
  z-index: 99;
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 0;
}
@media (max-width: 767px) {
  .navbar {
    position: relative;
  }
}
.navbar-toggle {
  margin: 3px 7px 0 0;
  padding: 4px 10px 4px;
}
.navbar-header {
  position: relative;
  z-index: 99;
}
@media (max-width: 767px) {
  .navbar-header {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .navbar .enquiry_form {
    position: absolute;
    top: 8px;
    right: 50px;
  }
}
@media (max-width: 767px) {
  .nav {
    text-align: center;
    margin: 0;
  }
}
.nav > li {
  padding: 0 12px;
}
@media (min-width: 768px) {
  .nav > li:first-child {
    padding-left: 0px;
  }
}
@media (max-width: 1199px) {
  .nav > li {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  .nav > li {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .nav > li {
    padding: 0px 0;
    display: inline-block;
  }
}
.nav > li > a {
  position: relative;
  padding: 0px;
  line-height: normal;
  color: #4e5766;
  font-size: 1.125rem;
}
@media (max-width: 1199px) {
  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 991px) {
  .nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:active,
.nav > li > a:active:focus {
  background-color: transparent;
}
.nav > li > a .s-p {
  background-color: transparent;
}
.nav > li > a.btn {
  line-height: 1.4;
  padding: 6px 15px 7px;
  margin-top: 5px;
}
.nav > li > a.btn:hover,
.nav > li > a.btn:focus,
.nav > li > a.btn:active,
.nav > li > a.btn:active:focus {
  background-color: #1a2d49;
}
.nav > li > a.btn .s-p {
  background-color: #1a2d49;
}
.nav--main {
  margin-top: 7px;
}
@media (max-width: 991px) {
  .nav--main {
    margin-left: -8px;
  }
}
@media (max-width: 767px) {
  .nav--main {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
  }
}
.nav--main > li {
  padding: 0 12px;
}
@media (min-width: 768px) {
  .nav--main > li:last-child {
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  .nav--main > li {
    padding: 0px;
  }
}
@media (max-width: 767px) {
  .nav--main > li {
    display: block;
    padding: 10px;
  }
}
.nav--main > li > a {
  z-index: 9;
  line-height: normal;
  letter-spacing: normal;
}
@media (min-width: 768px) {
  .nav--main > li > a:before {
    content: " ";
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform-origin: 0 100%;
    opacity: 0;
  }
}
@media (max-width: 767px) {
  .nav--main > li > a {
    font-size: 1.5rem;
    color: #132136;
    font-weight: 600;
    text-align: right;
  }
}
.nav--main > li > a:hover,
.nav--main > li > a:focus,
.nav--main > li > a:active,
.nav--main > li > a:active:focus {
  background-color: transparent;
}
@media (min-width: 768px) {
  .nav--main > li > a:hover:before,
  .nav--main > li > a:focus:before,
  .nav--main > li > a:active:before,
  .nav--main > li > a:active:focus:before {
    opacity: 1;
    height: 3px;
  }
}
.nav--main > li > a .s-p {
  background-color: transparent;
}
@media (min-width: 768px) {
  .nav--main > li > a .s-p:before {
    opacity: 1;
    height: 3px;
  }
}
.nav--main > li.active > a {
  z-index: 9;
  background-color: transparent;
}
@media (min-width: 768px) {
  .nav--main > li.active > a:before {
    content: " ";
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform-origin: 0 100%;
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .nav--main > li.active > a:before {
    opacity: 1;
    height: 3px;
  }
}
@media (max-width: 767px) {
  .nav--main > li.active > a {
    color: #ffffff;
  }
}
.logo {
  margin-right: 25px;
}
@media (max-width: 767px) {
  .logo {
    margin-left: 15px;
  }
}
.logo img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .logo img {
    width: 100px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .logo img {
    width: 84px;
  }
}
.icon-bar {
  background-color: #132136;
}
.main-collapse {
  box-shadow: none;
}
@media (max-width: 767px) {
  .main-collapse {
    position: fixed;
    display: block;
    width: 100vw;
    left: calc(100% + 15px);
    transition: 0.5s;
    top: 0;
    height: 100vh !important;
    background-color: #fff;
    padding-top: 150px;
    margin: 0 !important;
    overflow: auto;
  }
  .main-collapse.in {
    left: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .main-collapse {
    padding-top: 200px;
  }
}
@media (max-width: 991px) {
  .main-collapse {
    padding-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .main-collapse {
    padding-left: 15px;
  }
}
.footer {
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 1.57;
  font-weight: 600;
  padding-top: 32px;
  padding-bottom: 32px;
}
.footer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer__bottom {
  padding-top: 18px;
  margin-top: 16px;
  border-top: 1px solid rgba(151, 151, 151, 0.2);
}
.footer__bottom p {
  font-size: 0.75rem;
  line-height: 1.42;
}
.masthead {
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
.masthead:before {
  content: '';
  position: absolute;
  height: 127px;
  bottom: 0px;
  width: 100%;
  background: url(../images/jpg/bottom_shape.png);
  background-size: 100% 100%;
  z-index: 9;
}
@media (max-width: 1920px) {
  .masthead:before {
    height: 6.61vw;
  }
}
.masthead__overlay {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: center;
  align-items: center;
  min-height: 55vw;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
@media (min-width: 1200px) {
  .masthead__overlay {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 556px;
  }
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .masthead__overlay {
    min-height: 400px;
  }
}
.masthead__overlay.property {
  padding: 0px;
  height: 37.99vw;
  min-height: 37.99vw;
}
.masthead .img_desc svg {
  margin-right: 47px;
}
.masthead .img_desc {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background: #2654a2;
  padding: 8.5px 20px;
  z-index: 9;
}
.masthead__overlay.inner_page {
  min-height: 42vw;
}
@media (max-width: 767px) {
  .masthead__overlay.inner_page {
    min-height: 300px;
  }
}
@media (min-width: 1200px) {
  .masthead__overlay.inner_page {
    min-height: 514px;
  }
}
.masthead h2,
.masthead .h1 {
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 1.19;
  text-shadow: 0 2px 11px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .masthead h2,
  .masthead .h1 {
    font-size: 2.1875rem;
    line-height: 1.4;
  }
}
@media (max-width: 767px) {
  .masthead h2,
  .masthead .h1 {
    font-size: 1.75rem;
    line-height: 1.4;
  }
}
.masthead h3 {
  color: #fff;
  font-size: 1.6875rem;
  margin: 18px 0 7px;
  line-height: 2.11;
  font-weight: 900;
}
.masthead p {
  line-height: 1.61;
  letter-spacing: normal;
  font-size: 1.125rem;
  margin-top: 20px;
}
.masthead__img {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .masthead__img {
    margin-bottom: 32px;
  }
}
.masthead__inner .masthead__overlay {
  background-color: rgba(0, 27, 49, 0.7);
}
@media (min-width: 1200px) {
  .masthead__inner .masthead__overlay {
    min-height: 235px;
  }
}
.masthead__inner .masthead__overlay h2,
.masthead__inner .masthead__overlay .h1 {
  margin-top: 0;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .masthead__inner .masthead__overlay h2,
  .masthead__inner .masthead__overlay .h1 {
    font-size: 1.875rem;
    line-height: 1.4;
  }
}
@media (min-width: 768px) {
  .masthead__inner .masthead__overlay h2,
  .masthead__inner .masthead__overlay .h1 {
    margin-bottom: 0px;
  }
}
.masthead__inner .masthead__overlay .primary-col {
  color: #8cc63f;
}
.category {
  padding-top: 72px;
  padding-bottom: 61px;
}
@media (max-width: 767px) {
  .category {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.category__block {
  display: inline-block;
  max-width: 49%;
}
.category__block__image {
  position: relative;
}
.category__block__title {
  position: absolute;
  bottom: 43px;
  left: 41px;
}
@media (max-width: 991px) {
  .category__block__title {
    bottom: 10px;
    left: 10px;
  }
}
.category__block__title h3 {
  color: #fff;
  font-size: 1.875rem;
  text-shadow: 0 2px 11px rgba(0, 0, 0, 0.27);
  line-height: 1.5;
  margin: 0px;
}
@media (max-width: 767px) {
  .category__block__title h3 {
    font-size: 1.125rem;
  }
}
.category__block__title h4 {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .category__block__title h4 {
    font-size: 0.75rem;
  }
}
.category__block .orange__overlay::before {
  background-color: rgba(250, 117, 15, 0.7);
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}
.category__block .blue__overlay::before {
  background-color: rgba(38, 84, 162, 0.7);
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}
@media (max-width: 991px) {
  .category__info {
    margin-top: 30px;
  }
}
.category__info h2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 27px;
  margin-top: 0px;
}
@media (max-width: 767px) {
  .category__info h2 {
    margin-top: 20px;
    font-size: 1.25rem;
  }
}
.category__info p {
  font-size: 1rem;
  line-height: 1.88;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .category__info p {
    font-size: 0.875rem;
  }
}
.map {
  z-index: 9;
  position: relative;
}
.map__inner {
  position: relative;
}
.map__inner #map {
  height: 433px;
}
@media (max-width: 991px) {
  .map__inner #map {
    height: 350px;
  }
}
.map__form {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='RGBA(255, 255, 255, 0.3)', endColorstr='RGBA(0, 0, 0, 0.3)', GradientType=0);
  padding: 8.4% 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .map__form {
    position: relative;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  .map__form .form-group .form-control {
    width: 130px;
  }
}
.map__indication {
  background-color: #fff;
  padding: 10px 15px;
}
.map__indication span {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 2.14;
}
.tenant__map {
  margin-top: -130px;
}
@media (max-width: 991px) {
  .tenant__map {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .tenant__map .map__form {
    position: absolute;
  }
}
.tenant__map .form-inline {
  text-align: right;
  padding: 15px;
  background-color: #132136;
  margin-bottom: 15px;
  float: right;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #979797;
}
@media (max-width: 767px) {
  .tenant__map .form-inline {
    max-width: 100%;
  }
}
.tenant__map .form-inline label {
  text-align: left;
}
.tenant__map .form-inline .form-group {
  vertical-align: bottom;
  width: calc(50% - 34px);
  overflow: hidden;
}
.accommodation {
  padding-top: 52px;
  padding-bottom: 38px;
}
@media (max-width: 767px) {
  .accommodation {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.accommodation h2 {
  margin-bottom: 21px;
  margin-top: 0px;
}
.item__grid {
  margin-right: -2px;
  margin-left: -2px;
}
.item__grid .item {
  padding-left: 2px;
  padding-right: 2px;
}
@media (max-width: 991px) {
  .item__grid .item {
    margin-bottom: 10px;
  }
}
.item__grid .item_image {
  position: relative;
}
.item__grid .item_image .btn {
  margin: 0px;
  position: absolute;
  bottom: 12.5px;
  left: 12.5px;
  font-size: 0.84375rem;
  padding: 4.8px 15px;
  font-weight: 600;
}
.item__grid .item h3 {
  font-size: 1.125rem;
  margin: 9px 0px 0px;
}
.item__grid .item h5 {
  font-size: 0.875rem;
  margin: 0px;
  color: #4e5766;
  text-transform: initial;
  font-weight: 600;
}
.item__grid .btn-col {
  padding: 0;
}
.item__grid .btn {
  margin-top: 28px;
}
.searching__acc {
  position: relative;
}
.searching__acc:before {
  content: '';
  position: absolute;
  height: 111px;
  top: -1px;
  width: 100%;
  background: url(../images/jpg/top_shape.png);
  background-size: 100% 100%;
  z-index: 9;
}
@media (max-width: 1920px) {
  .searching__acc:before {
    height: 5.78vw;
  }
}
.searching__acc__overlay {
  height: 530px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 991px) {
  .searching__acc__overlay {
    height: 450px;
  }
}
@media (max-width: 767px) {
  .searching__acc__overlay {
    height: 300px;
  }
}
.searching__acc__overlay:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(38, 84, 162, 0.8);
  top: 0px;
  left: 0px;
}
.searching__acc__overlay h2 {
  text-shadow: 0 2px 11px rgba(0, 0, 0, 0.5);
  font-size: 3.125rem;
  line-height: 1.14;
  margin-top: 45px;
  margin-bottom: 31px;
}
@media (max-width: 767px) {
  .searching__acc__overlay h2 {
    font-size: 1.875rem;
  }
}
.searching__acc__overlay p {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 31px;
}
.searching__acc__overlay a {
  color: #fff;
  font-size: 1.375rem;
}
.tenant__services {
  padding-top: 100px;
  padding-bottom: 46px;
}
@media (max-width: 991px) {
  .tenant__services {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.tenant__services h2 {
  font-size: 2.0625rem;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: normal;
}
.tenant__services p {
  font-size: 1.125rem;
  line-height: 1.67;
}
.result {
  padding-top: 38px;
  padding-bottom: 27px;
}
.result h2 {
  font-size: 1.875rem;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 0px;
}
.item__list .item {
  margin-bottom: 26px;
}
.item__list .item:hover h5 {
  color: #f5a623;
}
.item__list .item:hover img {
  opacity: 0.5;
}
.item__list .item .item_info {
  padding-left: 27px;
}
@media (max-width: 767px) {
  .item__list .item .item_info {
    padding-left: 15px;
  }
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .item__list .item .item_image,
  .item__list .item .item_info {
    width: 100%;
    margin-bottom: 15px;
  }
}
.item__list .item h3 {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 11px;
  margin-top: 0px;
  text-transform: none;
  font-weight: normal;
}
.item__list .item h5 {
  font-size: 0.875rem;
  line-height: normal;
  margin-bottom: 22px;
  margin-top: 0px;
  text-transform: none;
  font-weight: normal;
  color: #4e5766;
}
@media (max-width: 767px) {
  .item__list .item h5 {
    margin-bottom: 10px;
  }
}
.item__list .item p {
  margin-bottom: 30px;
  font-weight: normal;
  line-height: normal;
}
@media (max-width: 767px) {
  .item__list .item p {
    margin-bottom: 10px;
  }
}
.item__list .item .btn {
  font-size: 0.84375rem;
  padding: 4.8px 17.2px;
}
.property__details {
  padding-top: 76px;
}
@media (max-width: 767px) {
  .property__details {
    padding-top: 30px;
  }
}
.property__details__info {
  margin-bottom: 65px;
}
@media (max-width: 767px) {
  .property__details__info {
    margin-bottom: 30px;
  }
}
.property__details__features ul li {
  line-height: 1.88;
}
.property__details__features ul li.check {
  background-image: url(../images/jpg/check-symbol.png);
  background-repeat: no-repeat;
  background-position: center right;
}
.property__details__info__right .room_details {
  background-color: #2654a2;
  padding: 23px 0 17px;
  box-shadow: 0 0 3px 0px #000;
}
.property__details__info__right .room_details * {
  color: #fff;
  text-align: center;
}
.property__details__info__right .room_details .room_nos {
  font-size: 6.25rem;
  line-height: 5.35rem;
}
.property__details__info__right .room_details .room_label {
  font-size: 1.125rem;
  line-height: normal;
  margin-bottom: 9px;
}
.property__details__info__right .room_details .item {
  margin-bottom: 20px;
}
.property__details__info__right .sub_title {
  margin-top: 59px;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .property__details__info__right .sub_title {
    margin-top: 30px;
  }
}
.property__details__info__right .item__grid .item {
  margin-bottom: 20.8px;
}
.property__details__info__right .item__grid .item h3 {
  margin-top: 20.8px;
  margin-bottom: 10px;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: calc(40% - 34px);
  width: 66px;
  height: 68px;
  background-color: #2654a2;
}
@media (max-width: 991px) {
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    width: 30px;
    height: 30px;
  }
}
.owl-carousel .owl-nav button.owl-prev svg,
.owl-carousel .owl-nav button.owl-next svg {
  font-size: 3.125rem;
  color: #fff;
}
@media (max-width: 991px) {
  .owl-carousel .owl-nav button.owl-prev svg,
  .owl-carousel .owl-nav button.owl-next svg {
    font-size: 1.875rem;
  }
}
@media (max-width: 767px) {
  .owl-carousel .owl-nav button.owl-prev svg,
  .owl-carousel .owl-nav button.owl-next svg {
    font-size: 1.25rem;
  }
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0px;
}
.owl-carousel .owl-nav button.owl-next {
  right: 0px;
}
.management_Services {
  margin-top: 74px;
  position: relative;
  z-index: 9;
}
@media (max-width: 767px) {
  .management_Services {
    margin-top: 30px;
  }
}
.management_proceed {
  margin-top: 74px;
  position: relative;
  z-index: 9;
  margin-bottom: 12.49vw;
}
@media (max-width: 767px) {
  .management_proceed {
    margin-top: 30px;
  }
}
.our_property {
  margin-top: 54px;
  position: relative;
  z-index: 9;
  margin-bottom: 9.62vw;
}
@media (max-width: 767px) {
  .our_property {
    margin-top: 30px;
  }
}
.contact_management {
  position: relative;
  z-index: 9;
  margin-top: 74px;
  margin-bottom: 13.7vw;
}
@media (max-width: 767px) {
  .contact_management {
    margin-top: 30px;
  }
}
.privacy_policy {
  margin-top: 74px;
  position: relative;
  z-index: 9;
  margin-bottom: 11.6vw;
}
@media (max-width: 767px) {
  .privacy_policy {
    margin-top: 30px;
  }
}
.meat_team {
  position: relative;
  padding-bottom: 11.72vw;
  z-index: 9;
}
.meat_team_desc {
  font-size: 1.125rem;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .meat_team .member_team_desc_block {
    margin-bottom: 20px;
  }
}
.member_team_email {
  color: #2654a2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: center;
  align-items: center;
}
.member_team_email .info-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}
.contact_management .contact_details .nav__contact {
  display: flex;
  font-size: 1.125rem;
  margin-bottom: 30px;
  color: #4e5766;
}
.contact_management .contact_details .info-icon {
  color: #2654a2;
  font-size: 1.5rem;
  width: 30px;
  display: flex;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .contact_management .contact_details {
    margin-top: 20px;
  }
}
.quick_enquiry {
  padding: 142px 0px 54px;
  position: relative;
  margin-top: 50px;
  background: #2654a2;
}
.quick_enquiry:before {
  content: "";
  height: 421px;
  width: 100%;
  background: url(../images/jpg/top_shape-1.png);
  display: inline-block;
  top: -300px;
  position: absolute;
  background-size: 100% 100%;
}
@media (max-width: 1919px) {
  .quick_enquiry:before {
    height: 21.92vw;
    top: -15.62vw;
  }
}
.quick_enquiry * {
  color: #fff;
}
.quick_enquiry h3 {
  font-size: 1.375rem;
  margin-top: 0px;
  margin-bottom: 20px;
}
.quick_enquiry p a {
  text-decoration: underline;
}
.quick_enquiry .form-group label {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  padding-left: 0;
  margin-bottom: 10px;
}
.quick_enquiry .form-group .form-control {
  max-width: 350px;
  width: 100%;
  height: 36px;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: bottom;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 1rem;
  color: #4e5766;
}
.quick_enquiry .form-group textarea.form-control {
  height: auto;
}
.quick_enquiry .col-md-4:first-child {
  padding-right: 4.68vw;
}
@media (max-width: 991px) {
  .quick_enquiry .col-md-4:first-child {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .quick_enquiry {
    padding: 75px 0px 54px;
  }
}
.testimonial_section {
  position: relative;
  min-height: 530px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-content: center;
  align-items: center;
}
.testimonial_section:before {
  content: "";
  height: 117px;
  width: 100%;
  background: url(../images/jpg/bottom_shape-1.png);
  display: inline-block;
  top: 0;
  position: absolute;
  background-size: 100% 100%;
  z-index: 9;
}
@media (max-width: 1919px) {
  .testimonial_section:before {
    height: 6.093vw;
  }
}
.testimonial_section:after {
  content: '';
  background-image: linear-gradient(102deg, #08285c, rgba(38, 84, 162, 0)), linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}
.testimonial_section p {
  color: #fff;
  font-size: 1.375rem;
  margin-bottom: 0px;
}
.testimonial_section .testi-name {
  color: #4a87ed;
  font-size: 1.125rem;
}
.testimonial_section .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 2px solid #4a87ed !important;
  border-radius: 100%;
  margin-right: 8px;
}
.testimonial_section .owl-dots .owl-dot.active {
  border: 2px solid #fff !important;
}
.testimonial_section .owl-dots {
  position: absolute;
  bottom: -40px;
}
@media (max-width: 767px) {
  .testimonial_section {
    min-height: 300px;
  }
  .testimonial_section p {
    font-size: 0.875rem;
    margin-bottom: 0px;
  }
  .testimonial_section .testi-name {
    font-size: 1rem;
  }
}
