/*
Theme Name: The Climate Hub
Author: The Climate Hub Team
Description: Specialising in large boilers and alternative heating systems for the past 10 years.
Version: 1.0
Text Domain: The Climate Hub
*/

:root {
    --lipstick: #ce171f;
    --cloudy-blue: #b6bcc4;
    --brownish-orange: #de7818;
    --red-pink: #e93366;
    --slate-grey: #585e67;
    --gold: #de9e18;
    --peacock-blue: #075792;
    --white: #ffffff;
    --charcoal-grey: #393e46;
}


/* font - family*/

@font-face {
    font-family: 'AvenirNext-Bold';
    src: url('fonts/AvenirNext-Bold.eot');
    src: url('fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-Bold.woff2') format('woff2'), url('fonts/AvenirNext-Bold.woff') format('woff'), url('fonts/AvenirNext-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-UltraLight';
    src: url('fonts/AvenirNext-UltraLight.eot');
    src: url('fonts/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-UltraLight.woff2') format('woff2'), url('fonts/AvenirNext-UltraLight.woff') format('woff'), url('fonts/AvenirNext-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-BoldItalic';
    src: url('fonts/AvenirNext-BoldItalic.eot');
    src: url('fonts/AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-BoldItalic.woff2') format('woff2'), url('fonts/AvenirNext-BoldItalic.woff') format('woff'), url('fonts/AvenirNext-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext-Medium';
    src: url('fonts/AvenirNext-Medium.eot');
    src: url('fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-Medium.woff2') format('woff2'), url('fonts/AvenirNext-Medium.woff') format('woff'), url('fonts/AvenirNext-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('fonts/AvenirNext-Regular.eot');
    src: url('fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-Regular.woff2') format('woff2'), url('fonts/AvenirNext-Regular.woff') format('woff'), url('fonts/AvenirNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-UltraLightItalic';
    src: url('fonts/AvenirNext-UltraLightItalic.eot');
    src: url('fonts/AvenirNext-UltraLightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-UltraLightItalic.woff2') format('woff2'), url('fonts/AvenirNext-UltraLightItalic.woff') format('woff'), url('fonts/AvenirNext-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext-Heavy';
    src: url('fonts/AvenirNext-Heavy.eot');
    src: url('fonts/AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-Heavy.woff2') format('woff2'), url('fonts/AvenirNext-Heavy.woff') format('woff'), url('fonts/AvenirNext-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-MediumItalic';
    src: url('fonts/AvenirNext-MediumItalic.eot');
    src: url('fonts/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-MediumItalic.woff2') format('woff2'), url('fonts/AvenirNext-MediumItalic.woff') format('woff'), url('fonts/AvenirNext-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext-DemiBoldItalic';
    src: url('fonts/AvenirNext-DemiBoldItalic.eot');
    src: url('fonts/AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-DemiBoldItalic.woff2') format('woff2'), url('fonts/AvenirNext-DemiBoldItalic.woff') format('woff'), url('fonts/AvenirNext-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext-DemiBold';
    src: url('fonts/AvenirNext-DemiBold.eot');
    src: url('fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-DemiBold.woff2') format('woff2'), url('fonts/AvenirNext-DemiBold.woff') format('woff'), url('fonts/AvenirNext-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-HeavyItalict';
    src: url('fonts/AvenirNext-HeavyItalic.eot');
    src: url('fonts/AvenirNext-HeavyItalic.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-HeavyItalic.woff2') format('woff2'), url('fonts/AvenirNext-HeavyItalic.woff') format('woff'), url('fonts/AvenirNext-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'AvenirNext-Italic';
    src: url('fonts/AvenirNext-Italic.eot');
    src: url('fonts/AvenirNext-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-Italic.woff2') format('woff2'), url('fonts/AvenirNext-Italic.woff') format('woff'), url('fonts/AvenirNext-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


/* font - family end*/

body {
    font-family: 'AvenirNext-Medium';
    padding: 0px;
    margin: 0px;
    color: var(--slate-grey);
    background: url('images/body-bg.jpg');
    font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 1.69;
    margin-bottom: 30px;
}

a {
    color: var(--white);
}

a:hover,
a:focus {
    text-decoration: none;
    color: var(--slate-grey);
    outline: none;
}
.btn_red_pink:hover {
    color: var(--white);
    outline: none;
}
header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
    text-decoration: none;
    color: var(--lipstick);
    outline: none;
}

img {
    max-width: 100%;
}

.txt-red {
    color: var(--lipstick);
}

.txt-red-bottom {
    color: var(--lipstick);
    border-bottom: solid 2px var(--lipstick);
    font-family: 'AvenirNext-DemiBold';
    line-height: 2.5;
}

.txt-white {
    color: var(--white);
}

.side-wrapper {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.min_title {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.92px;
    line-height: normal;
    font-family: 'AvenirNext-Bold';
}

.main_title {
    font-size: 53.3px;
    font-weight: 900;
    line-height: 1.17;
    margin-bottom: 30px;
    color: var(--white);
    font-family: 'AvenirNext-Heavy';
    margin-bottom: 17px;
}

.title_bottom {
    font-size: 19px;
    color: var(--white);
    font-family: 'AvenirNext-DemiBold';
	line-height:normal;
}

.sub_title {
    font-size: 28px;
    font-weight: 900;
    color: var(--charcoal-grey);
    font-family: 'AvenirNext-Heavy';
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.46;
}

.height_100 {
    height: 100%;
}

.main-box .type .min_title {
    margin-bottom: 15px;
}

.btn_red_pink {
    background-image: linear-gradient(to left, var(--red-pink), var(--lipstick));
    color: var(--white);
    height: 34px;
    display: inline-block;
    padding: 9px 23px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.9px;
    border-radius: 20px;
	font-family: 'AvenirNext-Bold';
}

.btn_red_border {
    background-image: var(--white);
    color: var(--lipstick);
    height: 34px;
    display: inline-block;
    padding: 8px 23px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.92px;
    border-radius: 20px;
    border: 2px solid;
    font-family: 'AvenirNext-Bold';
}


/* ---- Header ---- */

.header {
    position: absolute;
    max-width: 1170px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header_top .btn-fill {
    color: var(--slate-grey);
    background: #fff;
    padding: 9px 23px;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.9px;
    font-weight: bold;
    border-radius: 50px;
    line-height: 16px;
}

.header_top {
    padding-top: 18px;
    text-align: right;
}

.header_top .connet_link div >span:first-child {
    padding-right: 11px;
}

.header_top .connet_link div >span {
    font-size: 14px;
}

.header_top>div:last-child {
    padding-right: 0;
}

.header_top>div {
    margin: 0;
    text-align: right;
    padding: 0;
    color: #ffff;
}

.header_top li a {
    font-size: 14px;
}

.header_top i {
    margin-right: 8px;
    font-size: 16px;
}

.header_top>div {
    display: inline-block;
    padding: 0px 11px;
}

.logo_header {
    position: absolute;
    top: 36px;
}

.header-menu-main .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    line-height: normal;
    font-family: 'AvenirNext-DemiBold';
    padding-top: 5px;
    padding-bottom: 5px;
	background-color:transparent;
}
.navbar-nav>li.sub-main> a {
    padding-right: 20px;
}

.header-menu-main .navbar-nav li a:hover,
.header-menu-main .navbar-nav li a:focus {
    color: var(--lipstick);
    background-color: var(--white);
}
/*.navbar-nav>li.sub-main:hover .sub-menu-arrow {
	color: var(--lipstick);
}*/

.header-menu {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header .navbar {
    margin-bottom: 0px;
}

.sub-menu {
    list-style: none;
    padding-left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to left, var(--red-pink), var(--lipstick));
    position: absolute;
    min-width: 195px;
    visibility: hidden;
}

.sub-menu li a {
    padding: 5px 15px;
    border-bottom: 1px solid #ccb7b7;
    display: block;
}

.sub-menu li:last-child a {
    border-bottom: 0;
}

.header-menu .navbar-nav>li:hover .sub-menu {
    opacity: 1;
    margin-top: 0;
    transition: all 0.3s ease-in-out;
    visibility: visible;
}


/* ---- Header end ---- */


/* ---- main_bannar ---- */

.masthead {
    background-image: linear-gradient(to left, #e93366, var(--lipstick));
}

.main_bannar {
    height: 736px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.main_bannar:after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.32) 99%);
    opacity: 0.64;
}

.main_bannar_content {
    position: absolute;
    bottom: 0;
    z-index: 9;
    min-height: 350px;
    width: 100%;
    padding: 0px 15px;
}

.main_today {
    text-align: right;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 30px;
}

.main_today i {
    color: var(--red-pink);
    margin: 0px 6px;
}

.main_today .fa-clock:before {
    font-size: 18px;
    /* background-image: linear-gradient(to left, #e93366, var(--lipstick));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;*/
}


/* ---- main_bannar end ---- */


/* ----  case studies ---- */

.case_studies {
    margin: 65px 0px 50px 0px;
}

.center-align {
    display: flex;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
}

.case_studies_block_details {
    position: absolute;
    bottom: 0;
    color: var(--white);
    padding: 30px;
    z-index: 99;
}
.case_studies_block_details div {
    line-height: 1.69;
}

.case_studies_block {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.case_studies_img:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    z-index: 9;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(218deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-out;
}

.case_studies_block:hover .case_studies_img:after {
    background-image: linear-gradient(to left, var(--red-pink), var(--lipstick));
    opacity: 0.7;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    
}

.case_studies_block_main {
    margin-top: 35px;
}


/* ----  case studies ---- */


/* ----  testimonial ---- */

.testimonial .min_title {
    opacity: 0.4;
}

.testimonial_item p {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.71;
    color: var(--charcoal-grey);
    font-family: 'AvenirNext-MediumItalic';
    margin-bottom: 15px;
}

.testimonial_item span {
    color: var(--lipstick);
    font-size: 16px;
    line-height: 1.69;
    font-family: 'AvenirNext-Medium';
    font-weight: 500;
}

.testimonial .testimonial_item {
    max-width: 710px;
    width: 100%;
    margin-top: 20px;
}


/* ----  testimonial end ---- */


/* ---- Footer---- */

.footer {
    padding: 60px 0px 40px 0px;
    color: var(--white);
}

.footer_center p a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}

.footer_center .footer-bottom-text {
    font-size: 14px;
    margin: 0px;
}

.footer_right {
    text-align: right;
}


/* ---- Footer-end ---- */


/* ------ main_content ------ */

.main-box {
    max-width: 515px;
    right: 30px;
    position: absolute;
    bottom: 105px;
    border-top: 2px solid #d01924;
    border-bottom: 2px solid #d01924;
    padding: 65px;
    background: var(--white);
    z-index: 99;
    width: 100%;
    right: 30px;
}

.main-box.main-about {
    max-width: 445px;
}

.main-box .sub_title {
    min-width: 315px;
    margin-top: 0px;
}

.design-install_inner,
.multiple_type_inner {
    position: relative;
    padding: 0px;
}
.home .design-install_inner {
	padding:0px 30px
}

.our_services {
    background-image: linear-gradient(to left, var(--red-pink), var(--lipstick));
    color: var(--white);
    position: relative;
    max-width: 1225px;
    margin: 0 auto;
	width:100%;
}

.our_services_block_main {
    margin-top: 25px;
    margin-bottom: 30px;
}

.our_services .sub_title {
    color: var(--white);
}

.our_services_inner .sub_title {
    margin-bottom: 5px;
}

.our_services_inner {
    position: relative;
    padding: 50px 0px;
}
.home .our_services_inner {
	padding-left:15px;
	padding-right:15px;
}
.multiple_type_block {
    padding: 45px 0px;
}

.our_services_contact {
    max-width: 380px;
    position: absolute;
    right: 15px;
    top: -105px;
}

.our_services_contact:after {
    content: "";
    display: inline-block;
    background-image: linear-gradient(to left, var(--red-pink), var(--lipstick));
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0.7;
}

.our_services_block_main h3 {
    margin-top: 15px;
}

.our_services_inner_block p {
    margin-bottom: 20px;
}

.contact_details {
    position: absolute;
    bottom: 0;
    background: var(--lipstick);
    width: 100%;
    z-index: 9;
    text-align: center;
    padding: 28px 0px;
}

.contact_call {
    font-size: 28px;
    font-family: 'AvenirNext-Medium';
}

.contact_maill {
    font-size: 17px;
    font-family: 'AvenirNext-Medium';
}

.sub_title_small {
    font-weight: 900;
    font-family: 'AvenirNext-Heavy';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 2.05;
}
.case_studies_block_details .sub_title_small {
	    line-height: 2.05;
}
.our_services .btn_red_pink {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
}

.testimonial {
    padding-bottom: 100px;
}

.read_link {
    font-family: 'AvenirNext-DemiBold';
	line-height:1.69;
}

.custom-form .btn_red_pink {
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    position: absolute;
}


/* ------ main_content end ------ */

.navbar-toggle .icon-bar {
    background-color: var(--white);
}

.logo_header {
    z-index: 9;
}

main {
    position: relative;
}

main:after {
    content: "";
    display: inline-block;
    height: 500px;
    width: 100%;
    background: url(images/footer_top.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: -40px;
    z-index: -9;
}


/* main-section*/

.main_section {
    padding: 80px 0px;
}

.main_section .main-box {
    top: -355px;
    right: 15px;
    bottom: auto;
}
.main-box .custom-form {
    margin-top:25px;
}

.main-box_link p {
    margin-bottom: 0;
}

.main-bottom {
    text-align: right;
    margin-top: 25px;
}


/* main-section end */


/* custom-form */

.custom-form .form-control {
    border-radius: 0;
    border: 1px solid #979797;
    height: 41px;
}

.custom-form textarea.form-control {
    height: auto;
}

.custom-form .form-group label {
    color: var(--lipstick);
    font-family: 'AvenirNext-Bold';
    line-height: 1.69;
    font-size: 16px;
    margin-bottom: 12px;
}


/* custom-form end */


/* related-case*/

.related_case {
    padding: 85px 0px 170px 0px;
    background: rgba(255, 255, 255, 0.5);
}

.related_case_link p {
    margin-bottom: 0px;
	font-weight:600;
}

.related_case_link {
    padding-top:5px;
}


/*related-case*/


/* contact page */

.contact_icon {
    color: var(--lipstick);
    margin-right: 14px;
}

.contact_link p {
    margin-bottom:0px;
	line-height:2.19;
}

.contact_address p {
    margin-bottom: 0;

}

.contact_link {
    margin-bottom: 20px;
}

.footer-top {
    min-height: 350px;
}

.case_studies_block_main a {
    display: inline-block;
    height: 100%;
    width: 100%;
}


/* contact page end */


/*-=-=-=-=-=-=-=-Footer-=-=-=-=-=-=-*/

.footer {
    background-image: url('images/footer_bitmap.jpg');
    height: 500px;
    background-size: 100% 100%;
    position: relative;
    z-index: 999;
}

.footer .inner__footer::before {
    content: "";
    height: 289px;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to top, #1c2026, rgba(28, 32, 38, 0));
    bottom: 0px;
    z-index: -1;
    left: 0;
}

.footer .inner__footer::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: auto;
    background-color: #1c2026;
    bottom: 0;
    z-index: -9;
    opacity: .5;
    left: 0;
}

.footer__outer {
    width: 300px;
    background-image: linear-gradient(to left, var(--red-pink), var(--lipstick));
    position: absolute;
    right: 15px;
    top: -168px;
    border-bottom: 2px solid #fff;
    padding: 35px 13px 50px 37px;
    height: 299px;
    z-index: 9;
    text-align: left;
}

.footer .container {
    position: relative;
}

.footer__outer h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'AvenirNext-Heavy';
    line-height: 41px;
    margin-top: 10px;
}

.footer__outer a.inquiry__btn {
    height: 34px;
    background-color: #fff;
    color: var(--lipstick);
    width: 103px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    border-radius: 20.5px;
    font-size: 12px;
    font-weight: bold;
    font-family:'AvenirNext-Bold';
    margin-right: 20px;
    border: 2px solid #fff;
	letter-spacing:0.9px;
}
.inquiry__content a:last-child {
    font-size: 14px;
}

.inquiry__content a:last-child:hover {
    color: #fff;
}

.footer__outer p {
    margin-bottom: 17px;
}

.footer__top h2 {
    font-size: 35px;
    line-height: 41px;
    font-family: 'AvenirNext-Heavy';
	font-weight:900;
}

.our__services {
    height: 34px;
    width: 150px;
    display: inline-block;
    background-color: var(--white);
    text-align: center;
    border-radius: 20.5px;
    letter-spacing: 0.9px;
    color: var(--slate-grey);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    border: 2px solid #fff;
	line-height:normal;
	padding:8px 0px;
}



.footer .footer__bottom {
    display: flex;
    margin-top: 50px;
}

.footer__title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.9px;
    margin-bottom: 10px;
}

.footer__contact {
    width: 25.28%;
}

.address,
.info {
    width: 16.7%;
}

.opening__hours {
    width: 31.6%;
}

.social__media {
    width: 9.72%;
    text-align: right;
}

.footer__top {
    padding-bottom: 77px;
    border-bottom: 1px solid rgba(228,233,238,0.24);
	padding-top:20px;
}

.footer__contact img {
    max-width: 162px;
}

.footer__contact p {
    margin-bottom: 0;
    color: var(--cloudy-blue);
    font-size: 14px;
    margin: 15px 0;
}

.footer__bottom ul {
    list-style: none;
    padding-left: 0;
}

.footer__bottom li {
    font-size: 14px;
    line-height: 27px;
    color: var(--cloudy-blue);
    font-family: 'AvenirNext-Medium';
}

.footer__bottom li a {
    color: var(--cloudy-blue);
}

.footer__bottom li:hover a {
    color: var(--lipstick);
}

.footer .fa-twitter:before {
    content: "\f099";
    background-image: linear-gradient(to left, #e93366, var(--lipstick));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial
}

.footer .fa-facebook:before {
    content: "\f09a";
    background-image: linear-gradient(to left, #e93366, var(--lipstick));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial
}

.footer__bottom .social__media li {
    font-size: 34px;
    line-height: 27px;
    color: var(--cloudy-blue);
    font-family: 'AvenirNext-Medium';
    display: inline-block;
}

.footer__bottom .social__media li a {
    margin-left: 20px;
}

.opening__hours span {
    color: #fff;
    margin-left: 5px;
}

.footer__contact .contact__details a {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
	line-height:normal;
}

.footer__contact .contact__details a i {
    font-size: 16px;
    margin-right: 8px;
}

.footer::after {
    background-color: #000;
    content: "";
    position: absolute;
    z-index: -9;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.4;
    left: 0;
}


/*-=-=-=-=-=-=-=-Footer-=-=-=-=-=-=-*/


/*-=-=-=-=-=-=-=-Service-multiple-=-=-=-=-=-=-*/

.btn_common {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: -18px;
    max-width: 164px;
    left: 0;
    right: 0;
    background-image: linear-gradient(to left, #e93366, var(--lipstick));
    color: #fff;
    height: 34px;
    display: inline-block;
    padding: 8px 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.9px;
    border-radius: 20px;
    border: 2px solid transparent;
    font-family: 'AvenirNext-Bold';
}

.service__multiple .main-box {
    padding-bottom: 20px;
}

.service__multiple .main-box {
    bottom: auto;
    top: -260px;
}

.main_section .main-box p:last-of-type {
    margin-bottom: 0;
}

.right-top.main-box {
    bottom: auto;
    top: -260px;
}

.btn_common:hover {
    color:#fff;
}

.our_services_main .our_services_inner .sub_title {
    margin-bottom: 70px;
    margin-top: 25px;
}


/*-=-=-=-=-=-=-=-Service-multiple-=-=-=-=-=-=-*/


/*-=-=-=-=-=-=-=-Case-study-multiple-=-=-=-=-=-=-*/

.case_study_multiple .case_studies_img:after {
    bottom: 0;
    background-image: linear-gradient(to top, var(--charcoal-grey), rgba(88, 94, 103, 0));
    height: 195px;
    box-shadow: none;
}

.case_study_multiple .case_studies_block:hover .case_studies_img:after {
    height: 100%;
}

.main_section.boiler_multiple_top,
.main_section.multiple_top {
    padding-bottom: 0;
}

.service__multiple.boiler__multiple .main-box {
    top: -260px;
    max-width: 534px;
    width: 100%;
    padding-top: 40px;
    right: 15px;
}

.type ul {
    padding-left: 0;
    list-style: none;
}

.type ul span {
    margin-left: 20px;
}

.boiler__multiple .min_title {
    margin-bottom: 25px;
}
.boiler__multiple .type {
    padding: 0;
}

.boiler__multiple .main-box p {
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
}

.boiler__multiple .service_block_main_inner {
    display: flex;
}

.image_block_left {
    max-width: 189px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to left, #e93366, var(--lipstick));
    padding: 28px 30px;
}

.boiler__multiple .service_block:nth-child(odd) {
    padding-left: 0;
    padding-right: 50px;
}

.boiler__multiple .service_block:nth-child(even) {
    padding-right: 0;
    padding-left: 50px;
}

.boiler__multiple .service_block ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 30px;
}

.boiler__multiple .block_details_right {
    background-color: var(--white);
    padding: 30px;
	width:calc(100% - 189px)
}

.service_block ul i {
    color: #de9e18;
    margin-right: 15px;
}

.boiler__multiple .service_block ul li {
    line-height: 1.69;
}

.block_details_right p {
    margin-bottom: 15px;
}

.boiler__multiple .service_block_main_inner:hover {
    color: var(--white);
    background-image: linear-gradient(to left, #e93366, var(--lipstick));
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.25);
}

.boiler__multiple .service_block_main_inner:hover .block_details_right {
    background-color: transparent;
}

.boiler__multiple .service_block_main_inner:hover .image_block_left {
    background-image: none;
}

.boiler__multiple .service_block_main_inner:hover .btn_red_border,
.boiler__multiple .service_block .service_block_main_inner:hover ul i {
    color: var(--white);
}

.block_details_right .sub_title_small {
    color: var(--charcoal-grey);
}

.boiler__multiple .service_block_main_inner:hover .block_details_right .sub_title_small {
    color: var(--white);
}

.boiler__multiple .service_block {
    margin-bottom: 60px;
}


/*-=-=-=-=-=-=-=-Case-study-multiple-=-=-=-=-=-=-*/


/*-=-=-=-=-=-=-=-Boiler-single-=-=-=-=-=-=-*/

.left_content .btn_common {
    position: static;
}

ul {
    padding: 0;
    list-style: none;
}

.boiler_single_top .left_content ul i {
    color: var(--lipstick);
    font-size: 16px;
    margin-right: 20px;
}

.boiler_single_top .left_content ul li {
    line-height: 35px;
    font-size: 16px;
}

.video_boiler {
    margin-top: 180px;
    max-width: 515px;
    width: 100%;
    float: right;
}

.video_boiler iframe {
    width: 100% !important;
}

.boiler__single .main_bannar:after {
    display: none;
}

.boiler__single .single_boiler_top {
    display: flex;
    padding: 0px;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
	
}

.main_title_top .main_bannar_content {
    position: static;
    min-height:0;
    padding: 0;
}

.boiler__single .main_image_top {
    margin-top: 100px;
}

.boiler__single .main_title_top {
    margin-bottom: 100px;
    padding: 0;
}

.main_bannar.boiler__single:after {
    visibility: hidden;
}
.b-filter label {
	margin-bottom:0px;
	line-height:normal;
	
}
.b-filter label:before {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: var(--slate-grey);
    content: "";
    left: 0;
    top: 9px;
    position: absolute;
    border-radius: 2px;
}
.b-filter li {
    padding-left: 30px;
}
.b-filter input:checked + label:after {
    content: "\f00c";
    display: inline-block;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    position: absolute;
    left: 2px;
    top: 10px;
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    color: #fff;
}
.type ul li {
    font-size: 16px;
    line-height: 35px;
    color: var(--slate-grey);
}
.b-filter li input {
    visibility: hidden;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
}
.b-filter li {
    position: relative;
}
.sub-menu-arrow {
    position: absolute;
    right:5px;
    top: 7px;
    color: #fff;
}
.sub-main>.sub-active a {
    display: block;
    width: 100%;
    text-align: left !important;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
	margin:0px;
}
.custom-form .btn_red_pink {
	outline:none;
}
.load_gif {
    width: 100%;
    text-align: center;
}
.header-menu-main .navbar-nav li a:hover + .sub-menu + .sub-menu-arrow {
    color:var(--lipstick);
}
.home .main_bannar:after{
	opacity:0.95
}
@media only screen and (min-width:1170px) {
    .case_studies_block_main {
        margin-left: -55px;
        margin-right: -55px;
    }
    .case_studies_img img {
        width: 100%;
    }
    .multiple_type_block {
        margin-left: -55px;
        margin-right: -55px;
    }
    .boiler__multiple .multiple_type_block {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media only screen and (max-width:998px) {
    .navbar-toggle {
        display: block;
        z-index: 99;
        margin-right: 0px;
    }
    .main-collapse {
        position: fixed;
        width: 100vw;
        left: calc(100% + 15px);
        transition: 0.5s;
        top: 0;
        height: 100vh !important;
        background-color: rgba(233, 51, 102, 0.95);
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0 !important;
        overflow: auto;
        display: flex !important;
        align-items: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        justify-content: flex-end;
        -moz-justify-content: flex-end;
        -webkit-justify-content: flex-end;
        
        z-index: 9;
    }
    .header-menu li a {
        text-align: right;
    }
    .header-menu .navbar-nav>li {
        float: none;
		margin-bottom:5px;
		width:calc(100%)
    }
    .navbar-collapse.collapse {
        height: 100vh !important;
        display: flex !important;
    }
    .main-collapse.in {
        left: 0;
    }
    .header {
        background: linear-gradient(to left, var(--red-pink), var(--lipstick));
    }
    .main-collapse.in {
        display: flex !important;
        flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        align-items: flex-end;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
    
    }
    .sub-menu {
        opacity: 1;
        visibility: visible;
        position: relative;
        top: 0px;
        width: 100%;
        display: none;
    }
    .navbar-collapse .navbar-nav>li:hover>.sub-menu {
        top: 0px !important;
    }
    .sub-menu .sub-menu-inner {
        left: 0px;
        position: relative;
        top: 0px;
        opacity: 1;
        visibility: visible;
		
    }
    .sub-menu>li:hover .sub-menu-inner {
        display: none;
    }
    .sub-main >.sub-active {
        display: block;
    }
    .header-menu {
        width: 100%;
	
    }
    .navbar-toggle {
        position:fixed;
        right:15px;
        background-image:linear-gradient(to left, var(--red-pink), var(--lipstick));
    }
	.sub-menu-arrow {
		position: absolute;
		right:0px;
		top: 0;
		color: #fff;
		font-size: 28px;
		line-height: normal;
    width: 32px;
    height: 32px;
	text-align:center;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	
	background:linear-gradient(to left, var(--red-pink), var(--lipstick));
	display:inline-block;
	z-index:999999;
	cursor:pointer;
    }
	.header-menu .navbar-nav>li.sub-main.open .sub-menu-arrow {
		transform:rotate(-360deg);
	}
	.header-menu-main .navbar-nav li a {
		text-align:center;
		display:inline-block;
		width:100%;
	}
	.header-menu .navbar-right {
    width: 100%;
	margin:0px;
	
}
.header-menu .navbar-nav>li.sub-main.open .sub-menu {
    display: block;
}
.header_top {
    text-align: center;
    width: 100%;
}
.custom-form .form-control {
	height:34px;
}
.custom-form .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
}
.custom-form textarea.form-control {
    height: 150px;
}
span.wpcf7-not-valid-tip {
	font-size:14px;
}
.header_top  a:hover, header_top  a:focus{
	color:var(--white);
}
.header-menu-main .navbar-nav li> a {
    width: calc(100% - 32px);
    text-align: left;
}
.header-menu-main .navbar-nav .sub-menu li> a {
    width: 100%;
    text-align: left;
}
.main-collapse.in .header_top  , .main-collapse.in .header-menu{
	min-width:100%;
}
.navbar-nav>li.sub-main> a {
	padding-right:15px;
}
.header_top  .btn-fill:hover, .header_top .btn-fill:focus {
    color: var(--slate-grey);
}
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .footer {
        padding: 30px 0px;
    }
    .logo_header {
        position: absolute;
        left: 4%;
        top: 26px;
    }
    .main_bannar_content {
        right: 0px;
        left: 0px;
    }
    .main_bannar {
        height: 530px;
		 }
	
    .main_title {
        font-size: 38px;
    }
    .title_bottom {
        font-size: 16px;
    }
    .testimonial_item p {
        font-size: 18px;
    }
    .testimonial_item span {
        font-size: 14px;
    }
    .sub_title {
        font-size: 22px;
    }
    .case_studies_block_details {
        padding: 20px;
        font-size: 14px;
    }
    .sub_title_small {
        font-size: 16px;
    }
    .main_section .main-box {
        padding: 30px;
    }
    .footer-top {
        min-height: 250px;
    }
    .main_section {
        padding: 50px 0px;
    }
    .main_section .main-box {
        top: -280px;
		right:0px;
    }
    .related_case {
        padding: 50px 0px 150px 0px;
    }
    .boiler__multiple .service_block {
        margin-bottom: 30px;
    }
    .multiple_type_inner {
        padding: 0px;
    }
    .boiler__single .main_image_top img {
        max-width: 180px;
    }
	.social__media ul {
    display: flex;
    justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
}
.contact_details {
	bottom:-1px;
}
.home  .main_bannar_content{
		min-height:280px;
	}

}


/* -------- Ipad portrait Start -------- */

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait) {
    .logo_header img {
        vertical-align: middle;
        width: 130px;
    }
    .main-title {
        font-size: 24px;
        margin-bottom: 15px;
    }
    p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .sub-title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .logo_header {
        left: 25px;
        top: 10px;
    }
    .main_content {
        padding: 50px 0px;
    }
    .our_services_contact {
        max-width: 300px;
    }
    .contact_details {
        padding: 10px 0px;
    }
    .contact_call {
        font-size: 20px;
    }
    .contact_maill {
        font-size: 14px;
    }
    .our_services_inner {
        padding: 85px 0px 50px;
    }
    .boiler__multiple .our_services_inner {
        padding: 30px 0px 30px;
    }
    .our_services_inner_block {
        margin-bottom: 30px;
    }
    .footer__bottom .social__media li a {
        margin-left: 0;
        font-size: 30px;
    }
    .opening__hours {
        width: 22.6%;
    }
    .address,
    .info {
        width: 19%;
    }
    .footer__contact {
        width: 28.28%;
    }
    .footer__top h2 {
        font-size: 22px;
        line-height: normal;
    }
    .footer__top {
        padding-bottom: 50px;
    }
    .footer__outer {
        width: 270px;
        right: 15px;
        top: -145px;
        padding: 15px;
        height: auto;
    }
    footer.footer {
        height: auto;
    }
    .boiler__multiple .service_block:nth-child(odd) {
        padding-right: 0;
    }
    .boiler__multiple .service_block:nth-child(even) {
        padding-left: 0;
    }
    .service__multiple .main-box {
        max-width: 50%;
        padding: 20px;
    }
    .right-top.main-box {
        padding: 20px;
    }
    .our_services_main .our_services_inner .sub_title {
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .service__multiple.boiler__multiple .main-box {
        right: 15px;
    }
    .service__multiple.boiler__multiple .main-box {
        padding: 30px;
    }
    .boiler__multiple .service_block {
        margin-bottom: 30px;
    }
    .multiple_top .main-box {
        max-width: inherit;
    }
	
}


/* -------- Ipad portrait End -------- */


/* -------- Ipad landscape Start -------- */

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    .main-title {
        font-size: 30px;
    }
    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .sub-title {
        font-size: 25px;
    }
    .our_services_contact {
        max-width: 300px;
    }
    .contact_details {
        padding: 10px 0px;
    }
    .contact_call {
        font-size: 20px;
    }
    .contact_maill {
        font-size: 14px;
    }
    .footer__top h2 {
        font-size: 28px;
    }
    .footer__bottom .social__media li a {
        margin-left: 10px;
    }
    .footer__top {
        padding-bottom: 55px;
    }
    footer.footer {
        height: auto;
    }
    .service__multiple .main-box {
        padding-bottom: 20px;
        width: 45%;
        padding: 30px;
    }
    .service__multiple.boiler__multiple .main-box {
        max-width: 455px;
        padding: 30px;
    }
    .boiler__multiple .service_block:nth-child(even) {
        padding-left: 20px;
    }
    .boiler__multiple .service_block:nth-child(odd) {
        padding-right: 20px;
    }
    .our_services_main .our_services_inner .sub_title {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .right-top.main-box.service-main {
        top: -350px;
    }
	.custom-form .form-control {
		height:34px;
	}
	.custom-form .form-group label {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.custom-form textarea.form-control {
    height: 150px;
	}
	.navbar-nav>li.sub-main> a {
		padding-right: 15PX;
		margin-right: 20PX;
    }
	.sub-menu-arrow {
    position: absolute;
    right: 5px;
    top: 7px;
    color: #fff;
    width: 30px;
    text-align: center;
    z-index: 999999;
    display: inline-block;
    height: 20px;
	cursor:pointer;
   }
}

@media only screen and (min-width:320px) and (max-width:767px) and (orientation:portrait) {
    .logo_header {
        position: relative;
        left: 15px;
        top: 12px;
        width: 150px;
        float: left;
        z-index: 1;
    }
    .navbar-toggle {
        padding: 14px 10px;
    }
    .masthead {
        padding: 60px 0px 0px;
    }
    .main-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .sub-title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    p {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .main_content {
        padding: 40px 0px;
    }
    .footer_right {
        text-align: left;
    }
    .footer_center {
        margin: 25px 0;
    }
    .boiler__multiple .service_block_main_inner {
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }
    .image_block_left {
        max-width: 100%;
    }
}


/* -------- Mobile portrait End -------- */


/* -------- Mobile landscape Start -------- */

@media only screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    .logo_header {
        position: relative;
        left: 15px;
        top: 12px;
        width: 150px;
        float: left;
    }
    .navbar-toggle {
        padding: 14px 10px;
    }
    .masthead {
        padding: 60px 0px 0px;
    }
    .main-title {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .sub-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .main_content {
        padding: 30px 0px;
    }
    .footer_right {
        text-align: left;
    }
    .footer_center {
        margin: 25px 0;
    }
    .footer__top {
        padding-top: 200px;
    }
    .article_multiple .article,
    .case_study_multiple .case-study,
    .service__multiple .service {
        width: 50%;
        float: left;
    }
    .case_studies_block {
        margin: 0px auto 30px;
        max-width: 390px;
    }
}


/* -------- Mobile landscape End -------- */

@media (max-width:767px) {
    .footer {
        padding: 20px 0px;
    }
    .footer,
    .footer_right {
        text-align: center;
    }
    .main_bannar_content {
        position: absolute;
        bottom: auto;
        z-index: 9;
        min-height: 0;
        width: 100%;
        padding: 0px 15px;
        top: 50px;
        left: 0;
        right: 0;
    }
    .main_title {
        font-size: 28px;
    }
    .title_bottom {
        font-size: 14px;
    }
    .center-align {
        flex-direction: column;
    }
    .service__multiple .main-box {
        bottom: 0;
        top: 0;
    }
    .right-top.main-box {
        bottom: 0;
        top: 0;
    }
    .main-box,
    .main_section .main-box {
        padding: 20px;
        margin: 50px 0px;
        position: relative;
        right: 0px;
        bottom: 0px;
        top: 0px;
        margin-top: -40px;
        max-width: 100%;
    }
	.home .design-install_inner {
		padding:0px 15px;
	}
    .reverse-inner {
        display: flex;
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
    }
    .main-box .sub_title {
        min-width: auto;
    }
    .related_case {
        padding: 20px 0px 90px 0px;
    }
    .main_bannar {
        height: 250px;
    }
    .home .main_bannar {
        height: 350px;
    }
    .main_bannar.boiler__single {
        height: 350px;
    }
    .boiler_single_top .left_content ul li {
        font-size: 14px;
    }
    .our_services_inner_block {
        margin-bottom: 40px;
    }
    .testimonial_item p {
        font-size: 16px;
    }
    .testimonial_item span {
        font-size: 16px;
    }
    .design-install_inner {
        padding: 0px 15px;
    }
    .multiple_type_inner {
        padding: 0px;
    }
    .multiple_type_block .case_studies_block {
        margin-bottom: 15px;
    }
    .multiple_type_block {
        padding: 20px 0px;
    }
    .sub_title {
        font-size: 20px;
    }
    .sub_title_small {
        font-size: 16px;
    }
    .our_services_contact {
        position: relative;
        right: 0;
        top: -30px;
    }
    .contact_details {
        padding: 15px 0px;
		bottom:-4px;
    }
    .main_today {
        padding-right: 0;
        margin-top: 15px;
    }
    .footer-top {
        min-height: 50px;
    }
    .main_section {
        padding: 30px 0px;
    }
    .custom-form .form-control {
        height: 34px;
    }
    .main_section .main-box {
        margin-top: -70px;
    }
    .main-bottom {
        margin-right: 0px;
        margin-bottom: 30px;
        text-align: left;
    }
    .custom-form .form-group label {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .footer {
        background-size: cover;
        background-position: top center;
        height: auto;
    }
    .footer__contact,
    .address,
    .info,
    .opening__hours {
        width: 100%;
    }
    .social__media {
        width: 100%;
        text-align: center;
    }
    .footer .footer__bottom {
        display: block;
        margin-top: 20px;
    }
    .footer__top {
        padding-bottom: 30px;
        padding-top: 180px;
    }
    .footer__outer {
        top: -85px;
        border-bottom: 2px solid #fff;
        padding: 20px;
        height: auto;
        z-index: 9;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .footer__contact p {
        margin: 10px 0;
    }
    .footer__title {
        margin-top: 20px;
    }
    .footer__top h2 {
        font-size: 18px;
        line-height: normal;
    }
    .boiler__multiple .service_block:nth-child(odd) {
        padding: 0 15px;
    }
    .boiler__multiple .service_block {
        margin-bottom: 20px;
    }
    .boiler__multiple .service_block:nth-child(even) {
        padding: 0 15px;
    }
    .service__multiple.boiler__multiple .main-box {
        position: static;
        float: left;
        min-width: 100%;
    }
    
    .our_services_main .our_services_inner .sub_title {
        margin-bottom: 20px;
        margin-top: 0;
    }
    .case_studies_block_main {
        margin-top: 20px;
    }
    .our_services_inner {
        padding-bottom: 20px;
    }
    .testimonial {
        padding-left: 15px;
        padding-right: 15px;
    }
    .article_multiple .masthead,
    .case_study_multiple .masthead,
    .boiler__multiple .masthead {
        padding-bottom: 0;
    }
    .main_section.boiler_multiple_top {
        padding-top: 30px;
    }
    .boiler__multiple .min_title {
        margin-bottom: 10px;
    }
    .type ul li {
        font-size: 14px;
        line-height: 28px;
    }
    .boiler__multiple .main-box p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .boiler__single .main_image_top img {
        max-width: 110px;
    }
    .boiler__single .main_image_top {
        margin-top: 0;
    }
    .boiler__single .main_title_top {
        margin-bottom: 0px;
    }
    .video_boiler {
        margin-top: 0px;
        float: none;
    }
    .header_top .connet_link {
        margin-bottom: 10px;
    }
    .case_studies_img img {
        width: 100%;
    }
	.case_studies_block_details {
		padding:15px;
	}
	.boiler__multiple .block_details_right {
		width:100%;
	}
	.boilers_list .service_block_inner img {
     max-height: 250px;
   }
   .b-filter input:checked + label:after {
	   top:8px;
   }
   .b-filter label:before {
	   top:6px;
   }
   .case_studies {
    margin: 65px 0px 10px 0px;
    }
	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
		margin:10px 0px;
	}
}